﻿@{
    ViewBag.Title = "CheckCreatedTrip";
}

<h2>Check created trip</h2>

<script type="text/javascript" src="~/Scripts/GoogleMaps.js"></script>
<script type="text/javascript" src="~/Scripts/CreateElement.js"></script>
<script type="text/javascript" src="~/Scripts/CheckedCreatedTrip.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDml0ooLA6EzabhNf-f3wZf3eJ7V8NQESA&callback=Initialize" type="text/javascript"></script>

<div id="placeForm" class="form-inline">
    <div id="backToCreateTrip" style="margin-left: 10px; float:left">
        <button id="placeSubmit" class="btn btn-default" type="button" onclick="window.location.href='@Url.Action("CreateTrip", "Trip", new { id = "ID" })';">Back to trip creating!</button>
    </div>
</div>

<div id="test-container" class="test_container">
    <div id="gallery-one" class="gallery_one">
    </div>
    <div id="map" class="droppable gallery_two">
    </div>
</div>
<button class="btn btn-default" type="submit" id="submitTrip" style="margin-left: 10px" onclick="SubmitCreatedTrip()">Submit your trip</button>
<br />
<br />
<br />