﻿@{
    ViewBag.Title = "CreateTrip";
}

<h2>Create trip</h2>

<script type="text/javascript" src="~/Scripts/DragAndDrop.js"></script>
<script type="text/javascript" src="~/Scripts/CreateElement.js"></script>
<script type="text/javascript" src="~/Scripts/CreateTrip.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<form id="placeForm" class="form-inline" style="margin-left: 10px">
    <input class="form-control text-box single-line" id="cityName" name="cityName" placeholder="Enter city!" type="text" value="" />
    <button id="placeSubmit" class="btn btn-default" type="button" onclick="GetSelectedPlaces()">Search</button>
    <button id="createPlace" class="btn btn-default" type="button" style="float:right; margin-right:150px" onclick="window.location.href='@Url.Action("CreatePlace", "Trip", new { id = "ID" })';">Create new place!</button>
</form>

<div id="test-container" class="test_container">
    <div id="gallery-one" class="gallery_one">
        Create your trip list
    </div>
    <div id="gallery-two" class="droppable gallery_two">
    </div>
</div>
<button class="btn btn-default" type="submit" id="showTrip" style="margin-left: 10px" onclick="ShowCreatedTrip()">Show trip on map</button>
<br />
<br />
<br />