﻿@{
    ViewBag.Title = "Create place";
}

@model LetsTravel.Entities.ViewModels.PlaceViewModel

<h2>Create place</h2>

<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>
<script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/CreatePlace.js"></script>
<link rel="stylesheet" href="/Content/bootstrap-datetimepicker-build.less" />
<link rel="stylesheet" href="/Contentbootstrap-datetimepicker.less" />
<link rel="stylesheet" href="/Content/bootstrap/variables.less" />
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDml0ooLA6EzabhNf-f3wZf3eJ7V8NQESA&libraries=places&language=en-Us"></script>

<div id="map" style="display: none;"></div>
<div class="row">
    <div class="col-md-12">
        <section id="registrationForm">
            @using (Html.BeginForm("CreatePlace", "Trip", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "placeForm", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" id="backToTripCreating">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <button id="placeSubmit" class="btn btn-default" type="button" style="float:left" onclick="window.location.href='@Url.Action("CreateTrip", "Trip", new { id = "ID" })';">Back for trip creating!</button>
                    </div>
                </div>
                <div class="form-group" id="googleAutocomplete">
                    <label class="col-md-2 control-label">Place name: </label>
                    <div class="col-md-10" id="googleAutocompletePlaceForm">
                        <input class="form-control" id="googleAutocompletePlace" placeholder="Enter place name!" type="text" value="" required="required" />
                        <label class="text-danger" id="errorGoogleAutocompletePlace"></label>
                    </div>
                </div>
                <div id="placeAdditional">

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
                <br />
                <br />
            }
        </section>
    </div>
</div>
