﻿
@{
    ViewBag.Title = "SelectTrip";
}

<h2>Select trip</h2>

<script type="text/javascript" src="~/Scripts/CreateElement.js"></script>
<script type="text/javascript" src="~/Scripts/SelectTrip.js"></script>
<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>
<script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/Content/bootstrap-datetimepicker-build.less" />
<link rel="stylesheet" href="/Contentbootstrap-datetimepicker.less" />
<link rel="stylesheet" href="/Content/bootstrap/variables.less" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<section class="search-header">
    <form id="placeForm" class="form-inline" style="margin-left: 10px">
        <input class="form-control text-box single-line" id="cityName" name="cityName" placeholder="Enter city!" type="text" value="" />
        <button id="placeSubmit" class="btn btn-default" type="button" onclick="GetSelectedTrips()">Search</button>
    </form>
</section>

<div id="test-container" class="test_container">
    <div class="sidebar">
        <div>Enter date to check available trips!</div>
        <div class="form-group">
            <div class='col-md-11 input-group date' id='datePickerFrom'>
                <input type='text' class="form-control" placeholder="from" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class='col-md-11 input-group date' id='datePickerTo'>
                <input type='text' class="form-control" placeholder="to" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="datepicker-cta">
            <button class="btn btn-default btn-md" onclick="SortTripsByDate()">Check Availability</button>
        </div>
    </div>
    <div class="resultTrips" id="resultTrips">
    </div>
</div>
