﻿
@{
    ViewBag.Title = "ShowTrip";
}
@model LetsTravel.Entities.Trip

<h2>Show trip</h2>

<script type="text/javascript" src="~/Scripts/GoogleMaps.js"></script>
<script type="text/javascript" src="~/Scripts/CreateElement.js"></script>
<script type="text/javascript" src="~/Scripts/ShowTrip.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDml0ooLA6EzabhNf-f3wZf3eJ7V8NQESA&callback=Initialize" type="text/javascript"></script>

<div id="test-container" class="test_container">
    <div style="margin-left: 5px; width: 1000px">
        <div id="tripPhoto" class="tripPhoto" style="float:left">
            <img src="@Model.Photo" alt="@Model.TripName" />
        </div>
        <div id="tripDescription" class="tripDescription">
            <h4 style="text-align: center">@Model.TripName</h4>
            @Model.Description <br> <br>
            <b>Distance:</b> @Model.DistanceInMeters m. <br>
            <b>Duration:</b> @TimeSpan.FromSeconds(Model.DurationInSeconds) <br>
            <b>Start time:</b> @Model.StartTime <br>
            <b>Trip price:</b> @Model.TripPrice $ <br>
        </div>
    </div>

    <div id="gallery-one" class="gallery_one">
    </div>
    <div id="map" class="gallery_two">
    </div>

</div>
<br />
<br />
<br />
