﻿
@{
    ViewBag.Title = "ShowPlace";
}
@model LetsTravel.Entities.Place

<h2>Show place</h2>

<script type="text/javascript" src="~/Scripts/GoogleMaps.js"></script>
<script type="text/javascript" src="~/Scripts/ShowPlace.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDml0ooLA6EzabhNf-f3wZf3eJ7V8NQESA&callback=initialize" type="text/javascript"></script>

<div id="placeContainer" class="placeContainer">
    <h4>@Model.Name</h4>
    <div id="placePhoto" class="placePhoto" data-id="@Model.Id">
        <img src="@Model.Photo" alt="@Model.Name" />
    </div>
    @Model.Description <br />
    <div id="placeMap" class="placeMap">
    </div>
    @if (Model.FormattedAddress != null)
    {
        <h4>Place address:</h4>
        @Model.FormattedAddress <br />
    }
    @if (Model.InternationalPhoneNumber != null)
    {
        <h4>Place phone number:</h4>
        @Model.InternationalPhoneNumber <br />
    }
    @if (Model.OpeningHours != null)
    {
        <h4>Place opening hours:</h4>
        @Model.OpeningHours <br />
    }
    @if (Model.Rating != 0)
    {
        <h4>Place rating:</h4>
        @Model.Rating <br />
    }
    @if (Model.Website != null)
    {
        <h4>Place website:</h4>
        <a href="@Model.Website" target="_blank">@Model.Website</a><br />
    }
</div>
<br />
<br />
<br />