﻿
@{
    ViewBag.Title = "StartView";
}

<h2></h2>

<div id="test_container">
    <button id="createTrip" class="btn btn-default" type="button" style="float:left; vertical-align: bottom" onclick="window.location.href='@Url.Action("CreateTrip", "Trip")';">Build your trip!</button>
    <button id="selectTrip" class="btn btn-default" type="button" style="float:right; vertical-align: bottom" onclick="window.location.href='@Url.Action("SelectTrip", "Trip")';">Choose your trip!</button>
    <img src="@Url.Content("/Content/Images/build_your_own.jpg")" alt="" style="text-align: center; display: block; margin: 0 auto" />
</div>
