﻿
@{
    ViewBag.Title = "SubmitCreatedTrip";
}

@model LetsTravel.Entities.ViewModels.TripViewModel

<h2>Submit created trip</h2>

<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>
<script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/SubmitCreatedTrip.js"></script>
<link rel="stylesheet" href="/Content/bootstrap-datetimepicker-build.less" />
<link rel="stylesheet" href="/Contentbootstrap-datetimepicker.less" />
<link rel="stylesheet" href="/Content/bootstrap/variables.less" />

<div class="row">
    <div class="col-md-8">
        <section id="registrationForm">
            @using (Html.BeginForm("SaveCreatedTrip", "Trip", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.CountryName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CountryName, new { @class = "form-control", placeholder = "Country name", required = "required", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.CountryName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StateName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", placeholder = "State name", required = "required", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.StateName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CityName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CityName, new { @class = "form-control", placeholder = "City name", required = "required", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.CityName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TripName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.TripName, new { @class = "form-control", placeholder = "Trip name", required = "required" })
                        @Html.ValidationMessageFor(m => m.TripName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserLogin, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserLogin, new { @class = "form-control", placeholder = "Trip owner login", required = "required", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.UserLogin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4 repairDateTime">
                        <div class="input-group date" id="datepicker">
                            @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control", placeholder = "Trip start time", required = "required" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            @Html.ValidationMessageFor(m => m.StartTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3", placeholder = "Description", required = "required" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Duration, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4 repairDateTime">
                            <div class="input-group date" id="timepicker">
                                @Html.TextBoxFor(m => m.Duration, new { @class = "form-control", placeholder = "Trip duration", required = "required", @readonly = "readonly" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                                @Html.ValidationMessageFor(m => m.Duration, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Distance, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Distance, new { @class = "form-control", placeholder = "Trip distance", required = "required", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.Distance, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TripPrice, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.TripPrice, new { @class = "form-control", placeholder = "Trip price", required = "required", type = "number", min = "0.01", step = "0.01", lang = "en-150" })
                            @Html.ValidationMessageFor(m => m.TripPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Trip photo", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10" id="TripPhotoDiv">
                            @Html.TextBoxFor(m => m.TripPhoto, new { type = "file", id = "TripPhoto", @class = "btn btn-default", name = "uploadFile", value = "Select file" })
                            @Html.ValidationMessageFor(m => m.TripPhoto)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Selected places", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <ul>
                                @for (var i = 0; i < Model.PlaceList.Count; i++)
                                {
                                    @Html.HiddenFor(modelItem => Model.PlaceList[i].Id)
                                    <li>@Model.PlaceList[i].Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                    <br />
                    <br />
            }
        </section>
    </div>
</div>