﻿
@{
    ViewBag.Title = "WeatherForecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WeatherForecast</h2>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="~/Scripts/WeatherForecast.js"></script>

<form class="form-inline">
    <input type="text" class="form-control forecastCity" id="forecastCity" placeholder="Enter city!" value="">
    <button id="sendCity" class="btn btn-default" type="button">Get forecast</button>
</form>
<div class="weatherForecast" id="weatherForecast">
</div>
<br />
<br />



