﻿@{
    <h4>POST register user</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Account/Register</u></i>
        <p>Use POST HTTP-method to register user. Add Register JSON object to request body.</p>
    </div>
    <div>
        <h4>Example of Register in JSON format:</h4>
        <pre>
            { // Register
                "Email": "example1@example.net",
                "Password": "123Password!",
                "ConfirmPassword": "!Password123"
            } </pre>
    </div>
    <h4>POST user token</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/Token</u></i>
        <p>Use POST HTTP-method to get user token. Add grant_type:password, password:{your password}, email:{your email} parameters in "application/x-www-form-urlencoded" content type to request body.</p>
    </div>
    <h4>POST user logout</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Account/Logout</u></i>
        <p>Use POST HTTP-method to logout user.</p>
    </div>
    <h4>POST change password</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Account/ChangePassword</u></i>
        <p>Use POST HTTP-method to change user password. Add ChangePassword JSON object to request body.</p>
    </div>
    <div>
        <h4>Example of ChangePassword in JSON format:</h4>
        <pre>
            { // ChangePassword
                "OldPassword": "123Password!",
                "NewPassword": "!Password123",
                "ConfirmPassword": "!Password123"
            } </pre>
    </div>
    <h4>POST restore password</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Account/ForgotPassword</u></i>
        <p>Use POST HTTP-method to restore user password. Add RestorePassword JSON object to request body.</p>
    </div>
    <div>
        <h4>Example of RestorePassword in JSON format:</h4>
        <pre>
            { // RestorePassword
                "Email": "example1@example.net"
            } </pre>
    </div>
    <h4>POST reset password</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Account/ResetPassword</u></i>
        <p>Use POST HTTP-method to reset user password. Add JSON object with Email, Password, ConfirmPassword, Code fields to request body.</p>
    </div>
    <div>
        <h4>Example of ChangePassword in JSON format:</h4>
        <pre>
            { // ChangePassword
                "Email": "example1@example.net",
                "Password": "123Password!",
                "ConfirmPassword": "123Password!"
            } </pre>
    </div>
}

