﻿@{
    string controllerName = "address";
    <p>Note: <u>Before using API you should register using Account API, and add Authorization header with token for each API request!!!</u></p>
    <h4>GET @controllerName list</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Address</u></i>
        <p>Use GET HTTP-method to get @controllerName list.</p>
    </div>
    <h4>GET @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Address({@controllerName id})</u></i>
        <p>Use GET HTTP-method to get @controllerName with a given id.</p>
    </div>
    <h4>PUT @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Address({@controllerName id})</u></i>
        <p>Use PUT HTTP-method to update user's @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>POST @controllerName</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Address</u></i>
        <p>Use POST HTTP-method to add user's @controllerName. Add JSON @controllerName object without specified id field to request body.</p>
    </div>
    <h4>PATCH @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Address({@controllerName id})</u></i>
        <p>Use PATCH HTTP-method to update user's @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>DELETE @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Address({@controllerName id})</u></i>
        <p>Use DELETE HTTP-method to delete user's @controllerName. Specify @controllerName id in query string.</p>
    </div>
    <h4>GET user by @controllerName id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Address({@controllerName id})/User</u></i>
        <p>Use GET HTTP-method to get user based on it's @controllerName id. Specify @controllerName id in query string</p>
    </div>
    <div>
        <h4>Example of Address in JSON format:</h4>
        <pre>
            { // Address
                "Id": 1,
                "UserId": 1,
                "Country": "Ukraine",
                "State": "Lviv Oblast",
                "City": "Lviv",
                "Street": "Chervonoi kalyny str.",
                "BuildingNumber": "36",
                "PostalZipCode": "79070"
            } </pre>
    </div>
}

