﻿@{
    string controllerName = "conversation";
    <p>Note: <u>Before using API you should register using Account API, and add Authorization header with token for each API request!!!</u></p>
    <h4>GET @controllerName list</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Conversation</u></i>
        <p>Use GET HTTP-method to get @controllerName list.</p>
    </div>
    <h4>GET @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Conversation({@controllerName id})</u></i>
        <p>Use GET HTTP-method to get @controllerName with a given id.</p>
    </div>
    <h4>PUT @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Conversation({@controllerName id})</u></i>
        <p>Use PUT HTTP-method to update @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>POST @controllerName</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Conversation</u></i>
        <p>Use POST HTTP-method to add @controllerName. Add JSON @controllerName object without specified id field to request body. Don't forget to set TripId field of existing trip object!</p>
    </div>
    <h4>PATCH @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Conversation({@controllerName id})</u></i>
        <p>Use PATCH HTTP-method to update @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>DELETE @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Conversation({@controllerName id})</u></i>
        <p>Use DELETE HTTP-method to delete @controllerName. Specify @controllerName id in query string.</p>
    </div>
    <h4>GET message list by @controllerName id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Conversation({@controllerName id})/MessageList</u></i>
        <p>Use GET HTTP-method to get message list based on @controllerName id. Specify @controllerName id in query string</p>
    </div>
    <div>
        <h4>Example of Conversation in JSON format:</h4>
        <pre>
            { // Conversation
                "Id": 1,
                "User1": "example1@example.net",
                "User1_Id": "9c6db74a-671e-43fa-8bc0-c71a4b29dc83",
                "User2": "example2@example.net",
                "User2_Id": "80bcbb46-a740-4058-99ed-2f57953ac46b",
                "StartedTime": "0001-01-01T00:00:00"
            } </pre>
    </div>
}


