﻿@{
    string controllerName = "language";
    <p>Note: <u>Before using API you should register using Account API, and add Authorization header with token for each API request!!!</u></p>
    <h4>GET @controllerName list</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Language</u></i>
        <p>Use GET HTTP-method to get @controllerName list.</p>
    </div>
    <h4>GET @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Language({@controllerName id})</u></i>
        <p>Use GET HTTP-method to get @controllerName with a given id.</p>
    </div>
    <h4>PUT @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Language({@controllerName id})</u></i>
        <p>Use PUT HTTP-method to update @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>POST @controllerName</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Language</u></i>
        <p>Use POST HTTP-method to add @controllerName. Add JSON @controllerName object without specified id field to request body.</p>
    </div>
    <h4>PATCH @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Language({@controllerName id})</u></i>
        <p>Use PATCH HTTP-method to update @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>DELETE @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Language({@controllerName id})</u></i>
        <p>Use DELETE HTTP-method to delete @controllerName. Specify @controllerName id in query string.</p>
    </div>
    <h4>GET user list by @controllerName id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Language({@controllerName id})/UserList</u></i>
        <p>Use GET HTTP-method to get list of users based on @controllerName id. Specify @controllerName id in query string</p>
    </div>
    <div>
        <h4>Example of Language in JSON format:</h4>
        <pre>
            { // Language
                "Id": 1,
                "Name": "English"
            } </pre>
    </div>
}

