﻿@{
    string controllerName = "photo";
    <p>Note: <u>Before using API you should register using Account API, and add Authorization header with token for each API request!!!</u></p>
    <h4>GET @controllerName list of the city by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Photo/City?id={city id}</u></i>
        <p>Use GET HTTP-method to get @controllerName list of the given city. Specify city id in query string.</p>
    </div>
    <h4>GET place @controllerName by place id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Photo/Place?id={place id}</u></i>
        <p>Use GET HTTP-method to get place @controllerName. Specify place id in query string.</p>
    </div>
    <h4>GET user @controllerName by user id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Photo/User?id={user id}</u></i>
        <p>Use GET HTTP-method to get user @controllerName. Specify user id in query string.</p>
    </div>
    <h4>GET trip @controllerName by trip id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Photo/Trip?id={trip id}</u></i>
        <p>Use GET HTTP-method to get trip @controllerName. Specify trip id in query string.</p>
    </div>
    <h4>POST place @controllerName</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Photo/Place?id={place id}</u></i>
        <p>Use POST HTTP-method to add place @controllerName. Specify place id in query string and add place @controllerName file to request body. Place object should be created using Place API before this action. Files with .jpg, .png, .gif extensions are allowed!</p>
    </div>
    <h4>POST user @controllerName</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Photo/User?id={user id}</u></i>
        <p>Use POST HTTP-method to add user @controllerName. Specify user id in query string and add user @controllerName file to request body. User object should be created using User API before this action. Files with .jpg, .png, .gif extensions are allowed!</p>
    </div>
    <h4>POST trip @controllerName</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Photo/Trip?id={trip id}</u></i>
        <p>Use POST HTTP-method to add trip @controllerName. Specify trip id in query string and add trip @controllerName file to request body. Trip object should be created using Trip API before this action. Files with .jpg, .png, .gif extensions are allowed!</p>
    </div>

    <h4>DELETE place @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Photo/Place?id={place id}</u></i>
        <p>Use DELETE HTTP-method to delete place @controllerName. Specify place id in query string.</p>
    </div>
    <h4>DELETE user @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Photo/User?id={user id}</u></i>
        <p>Use DELETE HTTP-method to delete user @controllerName. Specify user id in query string.</p>
    </div>
    <h4>DELETE trip @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Photo/Trip?id={trip id}</u></i>
        <p>Use DELETE HTTP-method to delete trip @controllerName. Specify trip id in query string.</p>
    </div>
}

