﻿@{
    string controllerName = "place";
    <p>Note: <u>Before using API you should register using Account API, and add Authorization header with token for each API request!!!</u></p>
    <h4>GET @controllerName list</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Place</u></i>
        <p>Use GET HTTP-method to get @controllerName list.</p>
    </div>
    <h4>GET @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Place?key=({googlePlaceId})</u></i>
        <p>Use GET HTTP-method to get @controllerName with a given googlePlaceId.</p>
    </div>
    <h4>PUT @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Place({@controllerName id})</u></i>
        <p>Use PUT HTTP-method to update @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>POST @controllerName</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Place</u></i>
        <p>Use POST HTTP-method to add @controllerName. Add JSON @controllerName object without specified id field to request body.</p>
    </div>
    <h4>PATCH @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Place({@controllerName id})</u></i>
        <p>Use PATCH HTTP-method to update @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>DELETE @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Place({@controllerName id})</u></i>
        <p>Use DELETE HTTP-method to delete @controllerName. Specify @controllerName id in query string.</p>
    </div>
    <h4>GET trip list by @controllerName id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Place({@controllerName id})/TripList</u></i>
        <p>Use GET HTTP-method to get list of trips based on @controllerName id. Specify @controllerName id in query string</p>
    </div>
    <h4>GET city by @controllerName id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Place({@controllerName id})/City</u></i>
        <p>Use GET HTTP-method to get city based on @controllerName id. Specify @controllerName id in query string</p>
    </div>
    <div>
        <h4>Example of Place in JSON format:</h4>
        <pre>
            { // Place
                "Id": 1,
                "FormattedAddress": "Rynok Square, L'viv, Lviv Oblast, Ukraine",
                "Latitude": 49,8413276,
                "Longitude": 24,0315923,
                "InternationalPhoneNumber": "+380 322 356 586",
                "Name": "Rynok Square",
                "OpeningHours": "Mon: 8-18",
                "Photo": "/Content/Images/ukraine/lviv oblast/l'viv/ChIJIevgrm3dOkcRwkJXsJu3ppg.jpg",
                "GooglePlaceId": "ChIJIevgrm3dOkcRwkJXsJu3ppg",
                "Rating": 5.0,
                "Reference": "CmRbAAAAfT1FeMg0jDdRmTeHwMjXR7PKeuVm7zOuqGnLtye8qPLe83JJ6fO7sdqzSdbr-6xc12Kwj6sv3CP1uFHJf0qyaLLYoy-ySTpbWOkjt3ez0RgD4V8x_CIk9zsWim2147EiEhBcUw1BgkemnYrg5E0r3OqEGhQAPrYoZu05ZjVGFYi4wCDeosvNbg",
                "Types": "routes",
                "DurationInSeconds": 2820.0,
                "Description": "Test description",
                "Website": "www.testwebsite.com",
                "CityId": 1
            } </pre>
    </div>
}

