﻿@{
    string controllerName = "trip";
    <p>Note: <u>Before using API you should register using Account API, and add Authorization header with token for each API request!!!</u></p>
    <h4>GET @controllerName list</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Trip</u></i>
        <p>Use GET HTTP-method to get @controllerName list.</p>
    </div>
    <h4>GET @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Trip({@controllerName id})</u></i>
        <p>Use GET HTTP-method to get @controllerName with a given id.</p>
    </div>
    <h4>PUT @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Trip({@controllerName id})</u></i>
        <p>Use PUT HTTP-method to update @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>POST @controllerName</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Trip</u></i>
        <p>Use POST HTTP-method to add @controllerName. Add JSON @controllerName object without specified id field to request body.</p>
    </div>
    <h4>PATCH @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Trip({@controllerName id})</u></i>
        <p>Use PATCH HTTP-method to update @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>DELETE @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Trip({@controllerName id})</u></i>
        <p>Use DELETE HTTP-method to delete @controllerName. Specify @controllerName id in query string.</p>
    </div>
    <h4>GET place list by @controllerName id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Trip({@controllerName id})/PlaceList</u></i>
        <p>Use GET HTTP-method to get list of places based on @controllerName id. Specify @controllerName id in query string</p>
    </div>
    <h4>GET post list by @controllerName id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Trip({@controllerName id})/PostList</u></i>
        <p>Use GET HTTP-method to get list of posts based on @controllerName id. Specify @controllerName id in query string</p>
    </div>
    <h4>GET user list by @controllerName id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/Trip({@controllerName id})/UserList</u></i>
        <p>Use GET HTTP-method to get list of users based on @controllerName id. Specify @controllerName id in query string</p>
    </div>
    <div>
        <h4>Example of Trip in JSON format:</h4>
        <pre>
            { // Trip
                "Id": 1,
                "CountryName": "Ukraine",
                "StateName": "Lviv oblast",
                "CityName": "Lviv",
                "TripName": "Test trip name",
                "UserLogin": "example1@example.net",
                "Description": "Test description",
                "StartTime": "0001-01-01T00:00:00",
                "DurationInSeconds": 1200.0,
                "DistanceInMeters": 356,
                "TripPrice": 20.1,
                "Photo": "/Content/Images/ukraine/lviv oblast/lviv/1.jpg"
            } </pre>
    </div>
}

