﻿@{
    string controllerName = "user";
    <p>Note: <u>Before using API you should register using Account API, and add Authorization header with token for each API request!!!</u></p>
    <h4>GET @controllerName list</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/User</u></i>
        <p>Use GET HTTP-method to get @controllerName list.</p>
    </div>
    <h4>GET @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/User({@controllerName id})</u></i>
        <p>Use GET HTTP-method to get @controllerName information with a given id.</p>
    </div>
    <h4>PUT @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/User({@controllerName id})</u></i>
        <p>Use PUT HTTP-method to update @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>POST @controllerName</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/User</u></i>
        <p>Use POST HTTP-method to add @controllerName. Add JSON @controllerName object without specified id field to request body.</p>
    </div>
    <h4>PATCH @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/User({@controllerName id})</u></i>
        <p>Use PATCH HTTP-method to update @controllerName information. Specify @controllerName id in query string and add JSON @controllerName object with changed fields to request body.</p>
    </div>
    <h4>DELETE @controllerName by id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/User({@controllerName id})</u></i>
        <p>Use DELETE HTTP-method to delete @controllerName. Specify @controllerName id in query string.</p>
    </div>
    <h4>GET address by @controllerName id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/User({@controllerName id})/Address</u></i>
        <p>Use GET HTTP-method to get @controllerName address. Specify @controllerName id in query string</p>
    </div>
    <h4>GET language list by @controllerName id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/User({@controllerName id})/LanguageList</u></i>
        <p>Use GET HTTP-method to get the list of @controllerName's languages. Specify @controllerName id in query string</p>
    </div>
    <h4>GET trip list by @controllerName id</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/odata/User({@controllerName id})/TripList</u></i>
        <p>Use GET HTTP-method to get the list of @controllerName's trips. Specify @controllerName id in query string</p>
    </div>
    <div>
        <h4>Example of User in JSON format:</h4>
        <pre>
            { // User
                "Id": 1,
                "FirstName": "Johny",
                "MiddleName": null,
                "LastName": "Johanson",
                "Login": "example1@example.net",
                "Password": "*******",
                "Photo": "/Content/Images/Users/1.jpg",
                "PreferableThings": "Mountains",
                "CreateDate": "0001-01-01T00:00:00",
                "BirthDate": "0001-01-01T00:00:00",
                "IsMan": false,
                "PhoneNumber1": "+380971234567",
                "PhoneNumber2": "+380970891234",
                "Email": "example1@example.net",
                "Rating": 5.0
            } </pre>
    </div>
}

