﻿@{
    string controllerName = "weather";
    <p>Note: <u>Before using API you should register using Account API, and add Authorization header with token for each API request!!!</u></p>
    <h4>GET 7 days @controllerName from now</h4>
    <div class="item">
        API call: <i><u>https://localhost:44344/api/Weather?city={city name}</u></i>
        <p>Use GET HTTP-method to get 7 days @controllerName forecast from now for given city. Specify city name in query string. Use English language for city name.</p>
    </div>
    <div>
        <h4>Example of Weather in JSON format:</h4>
        <pre>
            {
            "city": {
                "id": 702550,
                "name": "Lviv",
                "coord": {
                    "lon": 24.0232,
                    "lat": 49.8383
                },
                "country": "UA",
                "population": 0
            },
            "cod": "200",
            "message": 0.1053054,
            "cnt": 7,
            "list": [
                {
                    "dt": 1503309600,
                    "temp": {
                        "day": 20,
                        "min": 15.14,
                        "max": 20,
                        "night": 15.14,
                        "eve": 20,
                        "morn": 20
                    },
                    "pressure": 997.91,
                    "humidity": 71,
                    "weather": [
                        {
                            "id": 803,
                            "main": "Clouds",
                            "description": "broken clouds",
                            "icon": "04d"
                        }
                    ],
                    "speed": 4.21,
                    "deg": 319,
                    "clouds": 80,
                    "rain": null
                },
                . . . . . . . . . . . 
            ]
        } </pre>
    </div>
}

