﻿@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>This project was created for educational purposes with the aim of mastering teamwork skills and learning new technologies in the field of information technology such as:
    <br />
    <b>Web</b>
    <ul>
        <li>ASP.NET MVC</li>
        <li>ASP.NET Identity</li>
        <li>WebAPI 2</li>
        <li>WebAPI OData</li>
        <li>EntityFramework</li>
        <li>SignalR</li>
        <li>JQuery</li>
        <li>JQueryUI</li>
        <li>Bootstrap</li>
        <li>GoogleAPI</li>
        <li>OpenWeatherAPI</li>
    </ul>

    <b>Mobile</b>
    <ul>
        <li>Android Studio</li>
        <li>Android SDK</li>
        <li>Retrofit HTTP-client</li>
    </ul>

    <b>Desktop</b>
    <ul>
        <li>WPF</li>
        <li>RestSharp</li>
    </ul>
    <br />
    This project is not aimed to earn money!</p>
