﻿@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>
<br />
<h4>Software Engineering Camp'17 - <b>CatchUp team</b></h4>
<br />
<address>
    LVIV<br />
    Global Headquarters<br />
    7 Naukova St., Building G<br />
    Lviv 79060, Ukraine<br />
    <abbr title="Phone">Phone:</abbr>
    +380-32-243-5357 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:LetsTravelEleks@gmail.com">LetsTravelEleks@gmail.com</a>
</address>