﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x: hidden;
    /*background-image: url('/Content/Images/3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.test_container {
    width: 1000px;
    min-height: 550px;
    overflow: hidden;
}

.gallery_one, .gallery_two {
    float: left;
    width: 480px;
    height: 530px;
    border-radius: 7px;
    border: solid 1px #BBBBBB;
    margin: 10px 10px 10px 10px;
    background-color: #CED5DB;
    overflow: auto;
}

.placeBox, .courseBox {
    float: left;
    width: 450px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    background-color: #E1E1E1;
    margin: 5px 5px 5px 5px;
    text-align: center;
    line-height: 100px;
    border-radius: 5px;
    border: 1px solid #B3B3B3;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888888;
}

.courseBox {
    height: 50px;
}

.gallery_two {
    margin: 10px 10px 10px 10px;
}

.box_current {
    background-color: #BBBBFF;
}

.placeBoxPhoto, .courseBoxPhoto {
    float: left;
    width: 25%;
    height: 90%;
    overflow: hidden;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    text-align: center;
    line-height: 10px;
    border: 1px solid #B3B3B3;
    font-weight: bold;
}

.courseBoxPhoto {
    border: hidden
}

.placeBoxPhoto img {
    width: 100%;
    height: 100%;
}

.courseBoxPhoto img {
    width: 100%;
    height: 100%;
}

.placeBoxDescription, .courseBoxDescription, .placeBoxLink {
    float: left;
    width: 70%;
    height: 70%;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    font-size: 11px;
    text-align: start;
    line-height: 14px;
    border: 1px hidden #B3B3B3;
    font-weight: normal;
}

.placeBoxDescription {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
}

.placeBoxLink {
    height: 25%;
    vertical-align: bottom;
    font-size: 12px;
    text-align: center;
}

.placeContainer {
    width: 1000px;
    height: auto;
    overflow: hidden;
    text-align: justify;
}

.placeMap, .placePhoto {
    float: left;
    vertical-align: bottom;
    width: 300px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 10px;
    border: 1px solid #B3B3B3;
    font-weight: bold;
}

.placeMap {
    width: 500px;
}

.placePhoto img {
    width: 100%;
    height: 100%;
}

.sidebar {
    float: left;
    width: 300px;
    height: 530px;
    border-radius: 7px;
    margin: 10px 10px 10px 10px;
    overflow: auto;
}

.resultTrip {
    float: left;
    width: 660px;
    border-radius: 7px;
    margin: 10px 10px 10px 10px;
    overflow: auto;
}

.tripBox {
    float: right;
    width: 660px;
    height: 150px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid #B3B3B3;
    background-color: #E1E1E1;
    box-shadow: 5px 5px 5px #888888;
}

.tripBoxPhoto {
    float: left;
    width: 25%;
    height: 93%;
    overflow: hidden;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    text-align: center;
    line-height: 10px;
    border: 1px solid #B3B3B3;
    font-weight: bold;
}

    .tripBoxPhoto img {
        width: 100%;
        height: 100%;
    }


.tripBoxPrice {
    float: right;
    width: 20%;
    height: 90%;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
}

.tripBoxPriceLabel {
    vertical-align: top;
    width: 92%;
    height: 30px;
    margin: 5px 5px 5px 5px;
    line-height: 1px;
    font-size: 20px;
}

.tripBoxPriceNumber {
    vertical-align: bottom;
    width: 92%;
    height: 85px;
    margin: 5px 5px 5px 5px;
    font-size: 28px;
}

.tripBoxDescription {
    float: left;
    width: 49.5%;
    height: 90%;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    font-size: 11px;
    text-align: start;
    line-height: 14px;
    font-weight: normal;
}

.tripBoxLink {
    height: 15%;
    width: 96%;
    vertical-align: bottom;
    margin: 5px 5px 5px 5px;
    font-size: 14px;
    text-align: center;
}

.tripBoxName {
    height: 20%;
    vertical-align: top;
    margin: 5px 5px 5px 5px;
    font-size: 20px;
    text-align: center;
}

.tripBoxSummary {
    margin: 5px 5px 5px 5px;
    border: 1px solid #B3B3B3;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    text-align: start;
    line-height: 18px;
    border: 1px hidden #B3B3B3;
    font-weight: normal;
}


.tripPhoto {
    float: left;
    vertical-align: top;
    width: 300px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    border-radius: 7px;
    border: 1px solid #B3B3B3;
    font-weight: bold;
    text-align: center;
    line-height: 10px;
}

    .tripPhoto img {
        width: 100%;
        height: 100%;
    }

.tripDescription {
    float: left;
    vertical-align: top;
    width: 670px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    text-align: left;
    text-indent: 25px;
    line-height: 22px;
}

.repairDateTime {
    padding-right: 0
}

/* Set CSS for chat!!!!! */
.chat {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.chatContainer {
    overflow: auto;
    height: 80%;
    width: 90%;
    position: absolute;
}

.chatInputGroup {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5em 1em
}

.chatInputText {
    width: 205px
}

.chatTextOwner, .chatTextGuest {
    float: left;
    width: 70%;
    margin: 2px 2px 2px 2px;
    background-color: #f8eaf6;
    border-radius: 5px;
    word-wrap: break-word;
}

.chatTextGuest {
    float: right;
    background-color: #d7eef2;
}

/*.chatTextOwner > i {
    float: right;
}

.chatTextGuest > i {
    float: left;
}*/

/* Set CSS for chat popup window!!!!! */
#slideout {
    /*For background opacity - background: rgba(255,255,255,0.1);*/
    background: #FFFFFF;
    position: absolute;
    width: 0px;
    height: auto;
    top: 50%;
    right: 0px;
    padding-left: 35px;
    z-index: 10;
}

#clickme {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-image: url('/Content/Images/left-arrow.jpg');
    background-size: 100%;
    cursor: pointer;
    /*font-size: 40px;*/
}

#slidecontent {
    float: left;
}

.userOnline {
    height: 20px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}

.isOnline {
    width: 20px;
    height: 20px;
    float: left;
    background-image: url('/Content/Images/isOnline.jpg');
    background-size: 100%;
}

.user {
    height: 20px;
    float: left;
    margin-left: 5px;
    top: 50%;
}

/* Set CSS for weather info!!!!! */
#image {
    float: left;
    margin: 5px 5px 5px 5px;
}

.weatherDate, .weatherIcon, .weatherDescription, .dayForecast {
    display: inline;
}

.weatherIcon, .weatherDescription {
    margin: 5px;
}

/* Set CSS for api docs!!!!! */
.item {
    background-color: #e1f5fe;
    margin-left: 10px;
}