﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="#account">Account</a></li>
        <li><a href="#user">User</a></li>
        <li><a href="#address">Address</a></li>
        <li><a href="#language">Language</a></li>
        <li><a href="#country">Country</a></li>
        <li><a href="#state">State</a></li>
        <li><a href="#city">City</a></li>
        <li><a href="#trip">Trip</a></li>
        <li><a href="#place">Place</a></li>
        <li><a href="#photo">Photo</a></li>
        <li><a href="#post">Post</a></li>
        <li><a href="#conversation">Conversation</a></li>
        <li><a href="#message">Message</a></li>
        <li><a href="#weather">Weather</a></li>
    </ul>
    <div id="account">
        @Html.Partial("~/Views/Docs/ApiViews/Account.cshtml")
    </div>
    <div id="user">
        @Html.Partial("~/Views/Docs/ApiViews/User.cshtml")
    </div>
    <div id="address">
        @Html.Partial("~/Views/Docs/ApiViews/Address.cshtml")
    </div>
    <div id="language">
        @Html.Partial("~/Views/Docs/ApiViews/Language.cshtml")
    </div>
    <div id="country">
        @Html.Partial("~/Views/Docs/ApiViews/Country.cshtml")
    </div>
    <div id="state">
        @Html.Partial("~/Views/Docs/ApiViews/State.cshtml")
    </div>
    <div id="city">
        @Html.Partial("~/Views/Docs/ApiViews/City.cshtml")
    </div>
    <div id="trip">
        @Html.Partial("~/Views/Docs/ApiViews/Trip.cshtml")
    </div>
    <div id="place">
        @Html.Partial("~/Views/Docs/ApiViews/Place.cshtml")
    </div>
    <div id="photo">
        @Html.Partial("~/Views/Docs/ApiViews/Photo.cshtml")
    </div>
    <div id="post">
        @Html.Partial("~/Views/Docs/ApiViews/Post.cshtml")
    </div>
    <div id="conversation">
        @Html.Partial("~/Views/Docs/ApiViews/Conversation.cshtml")
    </div>
    <div id="message">
        @Html.Partial("~/Views/Docs/ApiViews/Message.cshtml")
    </div>
    <div id="weather">
        @Html.Partial("~/Views/Docs/ApiViews/Weather.cshtml")
    </div>
</div>
<br />
<br />